*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(217, 255, 255);
}
.counter{
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: 5em;
}
h1{
    font-size: 2.5rem;
}
#value{
    font-size: 3rem;
    font-weight: 900;
}

.btn{
    text-transform: uppercase;
    background-color: rgb(217, 255, 255);
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    margin: 0 10px;
}
.btn:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width:500px) {
    .button{
        display: flex;
    }
}
@media screen and (max-width:360px) {
    .btn{
        margin: 10px 0;
    }
    .button{
        display: flex;
        flex-direction: column;
    }
}

